// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float:right;
  width:340px;
}

#sidebar #widget {
  width:340px;
  height: 600px;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}

#article {
  width:560px;
}

// SEARCH
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}
